<section>
  <h1 class='page-header'>
    {{header-anchor name='buttons' data-title='Buttons'}}
    <small><code>&lbrace;&lbrace;rui-button&rbrace;&rbrace;</code></small>
  </h1>
  <p>A button is used to trigger an immediate action such as form submission. Buttons should not be used for navigation.</p>
  <p>An <code>rui-button</code> block renders an HTML <code>button</code> element. The <code>button</code>'s content&thinsp;—&thinsp;text, an icon, or both&thinsp;—&thinsp;is contained within the <code>rui-button</code> block and passed through safely. All attributes may be omitted and will fall-back onto their defaults.</p>
  <table class='table'>
    <thead>
      <tr>
        <th>Property</th>
        <th>Attribute Types</th>
        <th>Available Options</th>
        <th>Default</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href='#button-styles'>style</a></td>
        <td>[string]</td>
        <td>'primary', 'secondary', 'success', 'info', 'warning', 'danger', 'link'</td>
        <td>'secondary'</td>
      </tr>
      <tr>
        <td><a href='#button-sizes'>size</a></td>
        <td>[string]</td>
        <td>'lg', 'sm', 'xs'</td>
        <td>null</td>
      </tr>
      <tr>
        <td><a href='#button-blocks'>block</a></td>
        <td>[boolean]</td>
        <td>true/false</td>
        <td>false</td>
      </tr>
      <tr>
        <td><a href='#button-loading'>isLoading</a></td>
        <td>[action name]</td>
        <td>Name of the action that loading state is attached to.</td>
        <td>null</td>
      </tr>
      <tr>
        <td><a href='#button-action'>action</a></td>
        <td>[string]</td>
        <td>Action name to send.</td>
        <td>&mdash;</td>
      </tr>
      <tr>
        <td><a href='#button-params'>param1</a></td>
        <td>[string, object]</td>
        <td>First parameter to send with action.</td>
        <td>&mdash;</td>
      </tr>
      <tr>
        <td><a href='#button-params'>param2</a></td>
        <td>[string, object]</td>
        <td>Second parameter to send with action.</td>
        <td>&mdash;</td>
      </tr>
    </tbody>
  </table>

  <h2>Properties</h2>

  {{!-- Styles --}}
  <h3>
    {{header-anchor name='button-styles' data-title='Styles'}}
  </h3>
  <p>Button styles provide context through visual cues.</p>
  <div class='card card-code-example'>
    <div class='card-block'>
      {{#rui-button style='primary'}}Primary{{/rui-button}}
      {{#rui-button}}Secondary (Default){{/rui-button}}
      {{#rui-button style='success'}}Success{{/rui-button}}
      {{#rui-button style='info'}}Info{{/rui-button}}
      {{#rui-button style='warning'}}Warning{{/rui-button}}
      {{#rui-button style='danger'}}Danger{{/rui-button}}
      {{#rui-button style='link'}}Link{{/rui-button}}
      {{#rui-button}}<i class='fa fa-download' />{{/rui-button}}
    </div>
    <div class='card-footer'><pre><code class='handlebars'>
&lt;!-- Provides visual weight and identifies the primary action in a set of buttons --&gt;
&lbrace;&lbrace;#rui-button style='primary'&rbrace;&rbrace;Primary&lbrace;&lbrace;/rui-button&rbrace;&rbrace;

&lt;!-- Secondary Button, used as the default --&gt;
&lbrace;&lbrace;#rui-button&rbrace;&rbrace;Secondary (Default)&lbrace;&lbrace;/rui-button&rbrace;&rbrace;

&lt;!-- Indicates a successful or positive action --&gt;
&lbrace;&lbrace;#rui-button style='success'&rbrace;&rbrace;Success&lbrace;&lbrace;/rui-button&rbrace;&rbrace;

&lt;!-- Contextual button for informational alert messages --&gt;
&lbrace;&lbrace;#rui-button style='info'&rbrace;&rbrace;Info&lbrace;&lbrace;/rui-button&rbrace;&rbrace;

&lt;!-- Indicates caution should be taken with this action --&gt;
&lbrace;&lbrace;#rui-button style='warning'&rbrace;&rbrace;Warning&lbrace;&lbrace;/rui-button&rbrace;&rbrace;

&lt;!-- Indicates a dangerous or potentially negative action --&gt;
&lbrace;&lbrace;#rui-button style='danger'&rbrace;&rbrace;Danger&lbrace;&lbrace;/rui-button&rbrace;&rbrace;

&lt;!-- Deemphasize a button by making it look like a link while maintaining button behavior --&gt;
&lbrace;&lbrace;#rui-button style='link'&rbrace;&rbrace;Link&lbrace;&lbrace;/rui-button&rbrace;&rbrace;

&lt;!-- FontAwesome icons can be used in lieu of or in addition to text --&gt;
&lbrace;&lbrace;#rui-button&rbrace;&rbrace;&lt;i class='fa fa-download' /&gt;&lbrace;&lbrace;/rui-button&rbrace;&rbrace;
    </code></pre></div>
  </div>

  {{!-- Sizes --}}
  <h3>
    {{header-anchor name='button-sizes' data-title='Sizes'}}
  </h3>
  <p>Buttons are also available in large or small sizes by setting the <code>size</code> attribute to either <code>lg</code> or <code>sm</code>.</p>
  <div class='card card-code-example'>
    <div class='card-block'>
      {{#rui-button style='primary' size='lg'}}Large Button{{/rui-button}}
      {{#rui-button size='lg'}}Large Button{{/rui-button}}
    </div>
    <div class='card-footer'><pre><code class='handlebars'>
&lbrace;&lbrace;#rui-button style='primary' size='lg'&rbrace;&rbrace;Large Button&lbrace;&lbrace;/rui-button&rbrace;&rbrace;
&lbrace;&lbrace;#rui-button size='lg'&rbrace;&rbrace;Large Button&lbrace;&lbrace;/rui-button&rbrace;&rbrace;
    </code></pre></div>
  </div>
  <div class='card card-code-example'>
    <div class='card-block'>
      {{#rui-button style='primary' size='sm'}}Small Button{{/rui-button}}
      {{#rui-button size='sm'}}Small Button{{/rui-button}}
    </div>
    <div class='card-footer'><pre><code class='handlebars'>
&lbrace;&lbrace;#rui-button style='primary' size='sm'&rbrace;&rbrace;Small Button&lbrace;&lbrace;/rui-button&rbrace;&rbrace;
&lbrace;&lbrace;#rui-button size='sm'&rbrace;&rbrace;Small Button&lbrace;&lbrace;/rui-button&rbrace;&rbrace;
    </code></pre></div>
  </div>

  {{!-- Block-Level --}}
  <h3>
    {{header-anchor name='button-blocks' data-title='Block-Level'}}
  </h3>
  <p>Create block-level buttons&thinsp;&mdash;&thinsp;those that span the full width of a parent&thinsp;&mdash;&thinsp;by setting the <code>block</code> attribute to <code>'true'</code>.</p>
  <div class='card card-code-example'>
    <div class='card-block'>
      {{#rui-button style='primary' size='lg' block='true'}}Block-Level Button{{/rui-button}}
      {{#rui-button size='lg' block='true'}}Block-Level Button{{/rui-button}}
    </div>
    <div class='card-footer'><pre><code class='handlebars'>
&lbrace;&lbrace;#rui-button style='primary' size='lg' block='true'&rbrace;&rbrace;Block-Level Button&lbrace;&lbrace;/rui-button&rbrace;&rbrace;
&lbrace;&lbrace;#rui-button size='lg' block='true'&rbrace;&rbrace;Block-Level Button&lbrace;&lbrace;/rui-button&rbrace;&rbrace;
    </code></pre></div>
  </div>

  {{!-- Loading State --}}
  <h3>
    {{header-anchor name='button-loading' data-title='Loading State'}}
  </h3>
  <p>Indicate whether an action is currently being performed by passing the action name to the <code>isLoading</code> attribute. This will add a spinner to the button until the action is completed. The value of <code>isLoading</code> must <em>not</em> be wrapped in quotes.</p>
  <div class='card card-code-example'>
    <div class='card-block'>
      {{#rui-button style='primary' action='asyncAction2' isLoading=asyncAction2}}Loading Button{{/rui-button}}
      {{#rui-button action='asyncAction1' isLoading=asyncAction1}}Another Loading Button{{/rui-button}}
    </div>
    <div class='card-footer'><pre><code class='handlebars'>
&lbrace;&lbrace;#rui-button style='primary' action='asyncAction' isLoading=asyncAction&rbrace;&rbrace;Loading Button&lbrace;&lbrace;/rui-button&rbrace;&rbrace;
&lbrace;&lbrace;#rui-button action='anotherAsyncAction' isLoading=anotherAsyncAction&rbrace;&rbrace;Another Loading Button&lbrace;&lbrace;/rui-button&rbrace;&rbrace;
    </code></pre></div>
  </div>

  {{!-- Disabled --}}
  <h3>
    {{header-anchor name='button-disabled' data-title='Disabled'}}
  </h3>
  <p>Provide visual cues that a button is not clickable by setting the <code>disabled</code> attribute to <code>'true'</code>.</p>
  <div class='card card-code-example'>
    <div class='card-block'>
      {{#rui-button style='primary' disabled='true'}}Primary{{/rui-button}}
      {{#rui-button disabled='true'}}Secondary (Default){{/rui-button}}
      {{#rui-button style='success' disabled='true'}}Success{{/rui-button}}
      {{#rui-button style='warning' disabled='true'}}Warning{{/rui-button}}
      {{#rui-button style='danger' disabled='true'}}Danger{{/rui-button}}
      {{#rui-button style='link' disabled='true'}}Link{{/rui-button}}
      {{#rui-button disabled='true'}}<i class='fa fa-download' />{{/rui-button}}
    </div>
    <div class='card-footer'><pre><code class='handlebars'>
&lbrace;&lbrace;#rui-button style='primary' disabled='true'&rbrace;&rbrace;Primary&lbrace;&lbrace;/rui-button&rbrace;&rbrace;
&lbrace;&lbrace;#rui-button disabled='true'&rbrace;&rbrace;Secondary (Default)&lbrace;&lbrace;/rui-button&rbrace;&rbrace;
&lbrace;&lbrace;#rui-button style='success' disabled='true'&rbrace;&rbrace;Success&lbrace;&lbrace;/rui-button&rbrace;&rbrace;
&lbrace;&lbrace;#rui-button style='info' disabled='true'&rbrace;&rbrace;Info&lbrace;&lbrace;/rui-button&rbrace;&rbrace;
&lbrace;&lbrace;#rui-button style='warning' disabled='true'&rbrace;&rbrace;Warning&lbrace;&lbrace;/rui-button&rbrace;&rbrace;
&lbrace;&lbrace;#rui-button style='danger' disabled='true'&rbrace;&rbrace;Danger&lbrace;&lbrace;/rui-button&rbrace;&rbrace;
&lbrace;&lbrace;#rui-button style='link' disabled='true'&rbrace;&rbrace;Link&lbrace;&lbrace;/rui-button&rbrace;&rbrace;
&lbrace;&lbrace;#rui-button disabled='true'&rbrace;&rbrace;&lt;i class='fa fa-download' /&gt;&lbrace;&lbrace;/rui-button&rbrace;&rbrace;
    </code></pre></div>
  </div>

  <h2>Actions</h2>

  {{!-- Action --}}
  <h3>
    {{header-anchor name='button-action' data-title='Action'}}
  </h3>
  <p>Supply the action name to be handled by the application with the <code>action</code> property.</p>
  <div class='card card-code-example'>
    <div class='card-block'>
      {{#rui-button style='primary' action='sendMyAction'}}Trigger Action{{/rui-button}}
    </div>
    <div class='card-footer'><pre><code class='handlebars'>
&lbrace;&lbrace;#rui-button style='primary' action='sendAction'&rbrace;&rbrace;Trigger Action&lbrace;&lbrace;/rui-button&rbrace;&rbrace;
    </code></pre></div>
  </div>

  <h3>
    {{header-anchor name='button-params' data-title='Action Parameters'}}
  </h3>
  <p>An action can be sent up to two parameters by using the <code>params1</code> and <code>params2</code> attributes.</p>
  <div class='card card-code-example'>
    <div class='card-block'>
      {{#rui-button style='primary' action='sendMyActionWithParams' param1='A simple parameter passed in' param2='Another parameter along for the ride'}}Trigger Action with Parameters{{/rui-button}}
    </div>
    <div class='card-footer'><pre><code class='handlebars'>
&lbrace;&lbrace;#rui-button style='primary' action='sendActionWithParams' param1='A simple parameter passed in' param2='Another parameter along for the ride'&rbrace;&rbrace;Trigger Action&lbrace;&lbrace;/rui-button&rbrace;&rbrace;
    </code></pre></div>
  </div>
</section>
