<section>
  <h1 class='page-header'>
    {{header-anchor name='colors' data-title='Colors'}}
  </h1>
  <p>Really lazy lipsum text.</p>

  {{!-- Brand Colors --}}
  <h3>
    {{header-anchor name='colors-brand' data-title='Brand Colors'}}
  </h3>
  <div class='card card-code-example'>
    <div class='card-block'>
      {{color-swatch class='swatch-brand-primary' data-variable='$brand-primary'}}
      {{color-swatch class='swatch-brand-success' data-variable='$brand-success'}}
      {{color-swatch class='swatch-brand-info' data-variable='$brand-info'}}
      {{color-swatch class='swatch-brand-warning'  data-variable='$brand-warning'}}
      {{color-swatch class='swatch-brand-danger'  data-variable='$brand-danger'}}
    </div>
  </div>
  {{!-- Structural Colors --}}
  <h3>
    {{header-anchor name='colors-structure' data-title='Structural Colors'}}
  </h3>
  <div class='card card-code-example'>
    <div class='card-block'>
      {{color-swatch class='swatch-brand-primary' data-variable='$brand-primary'}}
      {{color-swatch class='swatch-brand-success' data-variable='$brand-success'}}
      {{color-swatch class='swatch-brand-info' data-variable='$brand-info'}}
      {{color-swatch class='swatch-brand-warning'  data-variable='$brand-warning'}}
      {{color-swatch class='swatch-brand-danger'  data-variable='$brand-danger'}}
    </div>
  </div>
  {{!-- Typographical Colors --}}
</section>
