<section>
  <h1 class='page-header'>
    {{header-anchor name='dropdown' data-title='Dropdown'}}
    <small><code>&lbrace;&lbrace;rui-dropdown&rbrace;&rbrace;</code></small>
  </h1>
  <p>The <code>&lbrace;&lbrace;rui-dropdown&rbrace;&rbrace;</code> is a wrapper component that must include a <code>&lbrace;&lbrace;rui-dropdown-trigger&rbrace;&rbrace;</code> and a <code>&lbrace;&lbrace;rui-dropdown-menu&rbrace;&rbrace;</code> components as a block.</p>
  <table class='table'>
    <thead>
      <tr>
        <th>Property</th>
        <th>Attribute Types</th>
        <th>Available Options</th>
        <th>secondary</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>type</td>
        <td>[string]</td>
        <td>'dropdown', 'dropup', 'button-group'</td>
        <td>'dropdown'</td>
      </tr>
      <tr>
        <td>role</td>
        <td>[string]</td>
        <td>'group'</td>
        <td>null</td>
      </tr>
    </tbody>
  </table>
</section>

<section>
  <h1 class='page-header'>
    {{header-anchor name='dropdown-trigger' data-title='Dropdown Trigger'}}
    <small><code>&lbrace;&lbrace;rui-dropdown-trigger&rbrace;&rbrace;</code></small>
  </h1>
  <p>The <code>&lbrace;&lbrace;rui-dropdown-trigger&rbrace;&rbrace;</code> must be contained within a <code>&lbrace;&lbrace;rui-dropdown&rbrace;&rbrace;</code> and is the button element which triggers the sibling <code>&lbrace;&lbrace;rui-dropdown-menu&rbrace;&rbrace;</code> on click.  It accepts a block and is built to be highly customizable, therefore we do not inlcude any styling by secondary.</p>
  <table class='table'>
    <thead>
      <tr>
        <th>Property</th>
        <th>Attribute Types</th>
        <th>Available Options</th>
        <th>secondary</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>id</td>
        <td>[string]</td>
        <td>user defined - should correspond to <code>aria-labelledby</code> of <code>&lbrace;&lbrace;rui-dropdown-menu&rbrace;&rbrace;</code></td>
        <td>-</td>
      </tr>
      <tr>
        <td>styles</td>
        <td>[string]</td>
        <td>'secondary', 'primary', 'success', 'info', 'warning', 'danger', 'link'</td>
        <td>null</td>
      </tr>
      <tr>
        <td>size</td>
        <td>[string]</td>
        <td>'lg', 'sm'</td>
        <td>null</td>
      </tr>
      <tr>
        <td>caret</td>
        <td>[boolean]</td>
        <td>true/false</td>
        <td>true</td>
      </tr>
    </tbody>
  </table>
</section>

<section>
  <h1 class='page-header'>
    {{header-anchor name='dropdown-menu' data-title='Dropdown Menu'}}
    <small><code>&lbrace;&lbrace;rui-dropdown-menu&rbrace;&rbrace;</code></small>
  </h1>
  <p>The <code>&lbrace;&lbrace;rui-dropdown-menu&rbrace;&rbrace;</code> must be contained within a <code>&lbrace;&lbrace;rui-dropdown&rbrace;&rbrace;</code> and accepts a block containing the menu items to be shown when the sibling <code>&lbrace;&lbrace;rui-dropdown-trigger&rbrace;&rbrace;</code> is clicked.</p>
  <table class='table'>
    <thead>
      <tr>
        <th>Property</th>
        <th>Attribute Types</th>
        <th>Available Options</th>
        <th>secondary</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>align</td>
        <td>[string]</td>
        <td>'left', 'right'</td>
        <td>null</td>
      </tr>
      <tr>
        <td>aria-labelledby</td>
        <td>[string]</td>
        <td>user defined - should correspond to <code>id</code> of <code>&lbrace;&lbrace;rui-dropdown-trigger&rbrace;&rbrace;</code></td>
        <td>-</td>
      </tr>
    </tbody>
  </table>
</section>

{{!-- Basic Example --}}
<h3>
  {{header-anchor name='dropdown-basic-example' data-title='Basic Example'}}
</h3>
<p>Basic dropdown configurations required are shown below.  The <code>id</code> and <code>aria-labelledby</code> should match for accessability compliance.  You must define a style attribute on the dropdown trigger as we omit all styles by secondary to allow for greatest felxibility.</p>
<div class="panel panel-secondary panel-code-example">
  <div class="panel-body">
    {{#rui-dropdown}}
      {{#rui-dropdown-trigger id='myDropdown' style='secondary'}}
        Menu
      {{/rui-dropdown-trigger}}

      {{#rui-dropdown-menu aria-labelledby='myDropdown'}}
        <li><a href='#'>Item 1</a></li>
        <li><a href='#'>Item 2</a></li>
        <li><a href='#'>Item 3</a></li>
      {{/rui-dropdown-menu}}
    {{/rui-dropdown}}

    {{#rui-dropdown type='btn-group'}}
      {{#rui-dropdown-trigger id='myDropdown2' style='primary'}}
        Menu
      {{/rui-dropdown-trigger}}

      {{#rui-dropdown-menu aria-labelledby='myDropdown2'}}
        <li><a href='#'>Item 1</a></li>
        <li><a href='#'>Item 2</a></li>
        <li><a href='#'>Item 3</a></li>
      {{/rui-dropdown-menu}}
    {{/rui-dropdown}}
  </div>
  <div class="panel-footer">
    <pre><code class="handlebars">
&lt;!-- Basic Dropdown --&gt;
&lbrace;&lbrace;#rui-dropdown type='dropdown'&rbrace;&rbrace;

  &lt;!-- Include a trigger component --&gt;
  &lbrace;&lbrace;#rui-dropdown-trigger id='myDropdown' style='secondary'&rbrace;&rbrace;
    Menu
  &lbrace;&lbrace;/rui-dropdown-trigger&rbrace;&rbrace;

  &lt;!-- Include a menu component --&gt;
  &lbrace;&lbrace;#rui-dropdown-menu aria-labelledby='myDropdown'&rbrace;&rbrace;
    &lt;li&gt;&lt;a href='#'&gt;Item 1&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href='#'&gt;Item 2&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href='#'&gt;Item 3&lt;/a&gt;&lt;/li&gt;
  &lbrace;&lbrace;/rui-dropdown-menu&rbrace;&rbrace;

&lbrace;&lbrace;/rui-dropdown&rbrace;&rbrace;
    </code></pre>
  </div>
</div>

{{!-- Split Button Dropdown --}}
<h3>
  {{header-anchor name='dropdown-split-button' data-title='Split Button'}}
</h3>
<p>Split button and dropdowns included must be wrapped within a <code>btn-group</code> and have the <code>type='btn-group'</code> on the dropdown component.  Don't forget to specify the <code>role='group'</code> to help out the screen readers.</p>
<div class="panel panel-secondary panel-code-example">
  <div class="panel-body">
    <div class='btn-group'>
      {{#rui-button}}Button{{/rui-button}}
      {{#rui-dropdown}}
        {{rui-dropdown-trigger id='myDropdown3' style='secondary'}}
        {{#rui-dropdown-menu aria-labelledby='myDropdown3' align='right'}}
          <li><a href='#'>Item 1</a></li>
          <li><a href='#'>Item 2</a></li>
          <li><a href='#'>Item 3</a></li>
        {{/rui-dropdown-menu}}
      {{/rui-dropdown}}
    </div>
    <div class='btn-group'>
      {{#rui-button style='primary'}}Button{{/rui-button}}
      {{#rui-button style='primary'}}Button{{/rui-button}}
      {{#rui-dropdown}}
        {{#rui-dropdown-trigger id='myDropdown4' style='primary'}}
          Dropdown
        {{/rui-dropdown-trigger}}
        {{#rui-dropdown-menu aria-labelledby='myDropdown4' align='right'}}
          <li><a href='#'>Item 1</a></li>
          <li><a href='#'>Item 2</a></li>
          <li><a href='#'>Item 3</a></li>
        {{/rui-dropdown-menu}}
      {{/rui-dropdown}}
    </div>

  </div>
  <div class="panel-footer">
    <pre><code class="handlebars">
&lt;!-- Basic Dropdown --&gt;
&lt;div class='btn-group'&gt;
  &lbrace;&lbrace;#rui-button&rbrace;&rbrace;Button&lbrace;&lbrace;/rui-button&rbrace;&rbrace;

  &lt;!-- Set type'btn-group' and role='group' --&gt;
  &lbrace;&lbrace;#rui-dropdown&rbrace;&rbrace;
    &lbrace;&lbrace;rui-dropdown-trigger id='myDropdown2' style='secondary'&rbrace;&rbrace;
    &lbrace;&lbrace;#rui-dropdown-menu aria-labelledby='myDropdown2' align='right'&rbrace;&rbrace;
      &lt;li&gt;&lt;a href='#'&gt;Item 1&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href='#'&gt;Item 2&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href='#'&gt;Item 3&lt;/a&gt;&lt;/li&gt;
    &lbrace;&lbrace;/rui-dropdown-menu&rbrace;&rbrace;
  &lbrace;&lbrace;/rui-dropdown&rbrace;&rbrace;
&lt;/div&gt;
    </code></pre>
  </div>
</div>

{{!-- Dropups --}}
<h3>
  {{header-anchor name='dropdown-dropups' data-title='Dropups'}}
</h3>
<p>Add <code>dropup=true</code> to the dropdown component to position the menu above the trigger element.</p>
<div class="panel panel-secondary panel-code-example">
  <div class="panel-body">
    <div class='btn-group'>
      {{#rui-dropdown dropup=true}}
        {{#rui-dropdown-trigger id='myDropdown5' style='secondary'}}
          Dropup
        {{/rui-dropdown-trigger}}
        {{#rui-dropdown-menu aria-labelledby='myDropdown5'}}
          <li><a href='#'>Item 1</a></li>
          <li><a href='#'>Item 2</a></li>
          <li><a href='#'>Item 3</a></li>
        {{/rui-dropdown-menu}}
      {{/rui-dropdown}}
    </div>
  </div>
  <div class="panel-footer">
    <pre><code class="handlebars">
&lt;!-- Basic Dropup --&gt;

&lt;!-- Add dropup=true --&gt;
&lbrace;&lbrace;#rui-dropdown dropup=true&rbrace;&rbrace;
  &lbrace;&lbrace;#rui-dropdown-trigger id='myDropup' style='secondary'&rbrace;&rbrace;
    Dropup
  &lbrace;&lbrace;/rui-dropdown-trigger&rbrace;&rbrace;
  &lbrace;&lbrace;#rui-dropdown-menu aria-labelledby='myDropup'&rbrace;&rbrace;
    &lt;li&gt;&lt;a href='#'&gt;Item 1&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href='#'&gt;Item 2&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href='#'&gt;Item 3&lt;/a&gt;&lt;/li&gt;
  &lbrace;&lbrace;/rui-dropdown-menu&rbrace;&rbrace;
&lbrace;&lbrace;/rui-dropdown&rbrace;&rbrace;
    </code></pre>
  </div>
</div>

{{!-- Alignment --}}
<h3>
  {{header-anchor name='dropdown-alignment' data-title='Alignment'}}
</h3>
<p>Add <code>align='right'</code> to the dropdown-menu component to align the menu to the right of the button. Alignment secondarys to the left without declaring.  You can declare <code>align='left'</code> to override other behavoirs which might align it right.</p>
<div class="panel panel-secondary panel-code-example">
  <div class="panel-body">
    {{#rui-dropdown}}
      {{#rui-dropdown-trigger id='myDropdown6' style='secondary'}}
        Left
      {{/rui-dropdown-trigger}}
      {{#rui-dropdown-menu aria-labelledby='myDropdown6'}}
        <li><a href='#'>Item 1</a></li>
        <li><a href='#'>Item 2</a></li>
        <li><a href='#'>Item 3</a></li>
      {{/rui-dropdown-menu}}
    {{/rui-dropdown}}

    {{#rui-dropdown}}
      {{#rui-dropdown-trigger id='myDropdown7' style='secondary'}}
        Right
      {{/rui-dropdown-trigger}}
      {{#rui-dropdown-menu aria-labelledby='myDropdown7' align='right'}}
        <li><a href='#'>Item 1</a></li>
        <li><a href='#'>Item 2</a></li>
        <li><a href='#'>Item 3</a></li>
      {{/rui-dropdown-menu}}
    {{/rui-dropdown}}
  </div>
  <div class="panel-footer">
    <pre><code class="handlebars">
&lt;!-- Align right --&gt;
&lbrace;&lbrace;#rui-dropdown&rbrace;&rbrace;
  &lbrace;&lbrace;#rui-dropdown-trigger id='myDropdown2' style='secondary'&rbrace;&rbrace;
    Right
  &lbrace;&lbrace;/rui-dropdown-trigger&rbrace;&rbrace;

  &lt;!-- Add align='right' or align='left' to override however secondarys to left --&gt;
  &lbrace;&lbrace;#rui-dropdown-menu aria-labelledby='myDropdown2' align='right'&rbrace;&rbrace;
    &lt;li&gt;&lt;a href='#'&gt;Item 1&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href='#'&gt;Item 2&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href='#'&gt;Item 3&lt;/a&gt;&lt;/li&gt;
  &lbrace;&lbrace;/rui-dropdown-menu&rbrace;&rbrace;
&lbrace;&lbrace;/rui-dropdown&rbrace;&rbrace;
    </code></pre>
  </div>
</div>
