<div class='rui-header'>
  <div class='rui-header-nav-group'>
  <a href='#' onclick={{action 'back'}} class='btn btn-secondary'>
      {{rui-icon name='arrow-left'}}
    </a>
  </div>
</div>

<div class='rui-error-template-content'>
  <div class="rui-error-template-message">
    <div class='rui-error-template-status'>
      {{status}}
    </div>
    <div class="rui-error-template-tagline">
      {{tagline}}
    </div>
    {{#if link}}
      <a class='btn btn-secondary btn-lg rui-error-button' href={{link}}>
        {{link-message}}
      </a>
    {{/if}}
  </div>
</div>
