<div class='rui-header'>
  <div class='rui-header-nav-group'>
  <a href='#' onclick={{action 'back'}} class='btn btn-secondary'>
      {{rui-icon name='arrow-left'}}
    </a>
  </div>
</div>

<div class='rui-error-template-content'>
  <div class="rui-error-template-message">
    <div class='rui-error-template-status'>
      {{status}}
    </div>
    <div class="rui-error-template-tagline">
      {{tagline}}
    </div>
    {{#if link}}
      <div class='rui-error-button'>
        <a href={{link}}>
          {{#rui-button size='lg'}}
            {{link-message}}
          {{/rui-button}}
        </a>
      </div>
    {{/if}}
  </div>
</div>
