<header>
  <h1 id='title'>Revelation UI</h1>
</header>

<main class='row'>
  {{partial 'navigation'}}
  <article class='col-md-9'>
    {{partial 'partials/typography'}}
    {{partial 'partials/dropdowns'}}
    {{partial 'partials/buttons'}}
    <!-- {{outlet}} -->
  </article>
</main>

<footer></footer>
