<header>
  <h1 id='title'>Revelation UI</h1>
</header>

<main class='row'>
  {{partial 'navigation'}}
  <article class='col-md-9'>
    {{!-- Style Guides --}}
    {{partial "partials/colors"}}
    {{partial 'partials/typography'}}

    {{!-- Component Guides --}}
    {{partial "partials/buttons"}}
    {{partial "partials/dropdowns"}}
    <!-- {{outlet}} -->
  </article>
</main>

<footer></footer>
