<div class="{{if menu.showMenu 'show-menu'}} {{if menu.unfixMenu 'unfix-menu'}}">
  <div class="rui-clickblock" {{action 'toggleMenu'}}></div>

  <div class='rui-header'>
    <div class='rui-show-menu-toggle {{unless menu.unfixMenu 'hide'}}'>
      {{#rui-button action='toggleMenu' style='link' class=(if menu.showMenu 'active') }}
        <i class='fa fa-bars' />
      {{/rui-button}}
    </div>
  </div>

  <div class='rui-sidebar-left'></div>

  <div class='rui-main'>

    <div class='container-fluid'>
      <div class="row">
        <div class='col-md-12' style="margin-top: 20px;">
          <p>
            show-menu: {{menu.showMenu}}
            <br />
            unfix-menu: {{menu.unfixMenu}}
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at varius leo, nec ultrices odio. Suspendisse sit amet ligula ac lacus eleifend faucibus. Aliquam efficitur vestibulum nisi vitae pretium. Aliquam ac malesuada risus. Quisque viverra eget justo lobortis consectetur. Donec nisl ipsum, feugiat vestibulum lacus vitae, imperdiet pellentesque leo. Nullam sit amet metus eget libero auctor consequat. Vivamus eleifend rhoncus hendrerit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam cursus sapien in metus vulputate, eget dapibus enim efficitur. Curabitur nec mauris placerat, dictum metus eget, dictum nisi. Nulla id viverra dolor. Nunc ac maximus lectus.
          <p>
          </p>
            Duis sollicitudin, lacus ut maximus efficitur, sem velit commodo est, sed maximus mi urna in justo. Curabitur venenatis arcu felis, id rhoncus dolor dictum id. Integer et enim justo. Sed sed metus sed mauris lacinia accumsan a sed ante. Pellentesque sollicitudin aliquam pharetra. Duis fermentum ipsum tortor, at faucibus tortor lobortis at. Maecenas porttitor sagittis condimentum. Morbi gravida ac elit et egestas. Aenean cursus tellus quis mauris euismod, sit amet consequat libero molestie. Vivamus interdum non orci consequat facilisis.
          <p>
          </p>
            Aenean efficitur gravida ex, sed bibendum ipsum fringilla et. Suspendisse potenti. Duis nisi leo, placerat viverra diam vitae, venenatis tincidunt velit. Proin porta condimentum sem vitae mollis. Mauris mattis scelerisque metus feugiat ullamcorper. Pellentesque quis nisi ut risus convallis fringilla rhoncus vel lacus. Sed varius metus leo, et posuere arcu dictum eu. Vestibulum quis velit nulla.
          <p>
          </p>
            Fusce ullamcorper neque eget sapien commodo, non dapibus eros rutrum. In bibendum mattis dolor, et porta risus pretium at. Curabitur accumsan mi vitae auctor sodales. Nullam vehicula diam magna, nec feugiat quam maximus sed. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse leo ipsum, maximus sit amet dignissim sed, pulvinar sed urna. Phasellus risus massa, sodales at tempus eget, lobortis a diam. Aenean in egestas nisi, in aliquam mi. Cras scelerisque ullamcorper accumsan. Quisque auctor consectetur diam sed malesuada. Etiam vel commodo nisl.
          <p>
          </p>
            Phasellus aliquam tortor nibh, eu viverra sapien pretium tincidunt. Fusce condimentum enim nibh, gravida rhoncus sem venenatis quis. Donec scelerisque neque a turpis vestibulum pharetra. Donec eu leo pharetra, venenatis tortor sed, semper neque. Etiam vitae faucibus orci, ultrices facilisis mauris. Sed convallis enim pellentesque augue efficitur lacinia. Donec quis nunc quam. Phasellus efficitur nisi sit amet mauris suscipit, ac pulvinar lorem congue. Vivamus finibus ut lorem in egestas.
          </p>
        </div>
      </div>
    </div>

  </div>
  <div class='rui-footer'>
    <div class='rui-fix-menu-toggle'>
      {{#rui-button action='toggleFixedMenu' style='link' class=(if menu.fixMenu 'active') }}
          {{#if menu.unfixMenu}}
            <i class='fa fa-chevron-right' />
          {{else}}
            <i class='fa fa-chevron-left' />
          {{/if}}
      {{/rui-button}}
    </div>
  </div>
</div>
{{outlet}}
