<div class="{{if menu.showMenu 'show-menu'}} {{if menu.unfixMenu 'unfix-menu'}}">

  <div class="rui-clickblock" {{action 'toggleMenu'}}></div>

  {{partial 'partials/layout/header'}}
  {{partial 'partials/layout/sidebar'}}
  {{partial 'partials/layout/main'}}
  {{partial 'partials/layout/footer'}}

</div>
{{outlet}}
